<div ng-include="'templates/casemgr/menu.html'"></div>

<div class="columns">
  <div class="column is-5">

    <form>
      <div class="field">
        <label class="label">File Number</label>
        <div class="control">
          <input class="input" type="text" placeholder=" ">
        </div>

      <br>
      <div class="field">
        <label class="label">File Start Date</label>
        <div class="control">
          <input class="input" type="date" placeholder="mm/dd/yyyy">
      </div>

      <br>
      <div class="field">
        <label class="label">File End Date </label>
        <div class="control">
          <input class="input" type="date" placeholder="mm/dd/yyyy">
      </div>

      <br>
      <div class="field">
        <label class="label">File Title </label>
        <div class="control">
          <input class="input" type="text" placeholder="">
      </div>
      <br>
      <div class="field">
        <label class="label">Property </label>
        <div class="control">
          <input class="input" type="text" placeholder="">
      </div>
      <br>
      <div class="field">
        <label class="label">Property Owner's First Name </label>
        <div class="control">
          <input class="input" type="text" placeholder="">
      </div>
      <br>
      <div class="field">
        <label class="label">Property Owner's Last Name </label>
        <div class="control">
          <input class="input" type="text" placeholder="">
      </div>
      <br>
      <div class="field">
        <label class="label">Volume Number </label>
        <div class="control">
          <input class="input" type="text" placeholder="">
      </div>

      <br>
      <div class="field">
        <label class="label">Folio Number</label>
        <div class="control">
          <input class="input" type="text" placeholder="">
      </div>

      <br>
      <div class="field">
        <label class="label">Parish</label>
          <div class="control">
            <div class="select">
              <select>
                <option>-Select a Parish-</option>
                <option>Clarendon</option>
                <option>Hanover</option>
                <option>Kingston & St. Andrew</option>
                <option>Manchester</option>
                <option>Portland</option>
                <option>St. Andrew</option>
                <option>St. Ann</option>
                <option>St. Catherine</option>
                <option>St. Elizabeth</option>
                <option>St. James</option>
                <option>St. Mary</option>
                <option>St. Thomas</option>
                <option>Trelawny</option>
                <option>Westmoreland</option>
              </select>
            </div>
          </div>
        </div>

      <div class="field">
          <label class="label">Currency </label>
        <div class="field">
          <div class="control">
            <label class="radio">
              <input type="radio" name="Currency">
              JMD
            </label>
            <label class="radio">
              <input type="radio" name="Currency ">
              GBP
            </label>
            <label class="radio">
              <input type="radio" name="Currency">
              None Seen
            </label>
          </div>
        </div>
      </div>

      <br>
      <div class="field">
        <label class="label">Payment</label>
        <div class="control">
          <input class="input" type="text" placeholder="">
      </div>

      <br>

      <div class="field">
          <label class="label">File Status </label>
        <div class="field">
          <div class="control">
            <label class="radio">
              <input type="radio" name="file status">
              Active
            </label>
            <label class="radio">
              <input type="radio" name="file status">
              Inactive
            </label>
            <label class="radio">
              <input type="radio" name="file status">
              Closed
            </label>
          </div>
        </div>
      </div>


      <div class="field">
        <label class="label">Location </label>
        <div class="control">
          <input class="input" type="text" placeholder="">
      </div>

      <br>
      <div class="field">
        <label class="label">Remarks</label>
        <div class="control">
          <textarea class="textarea"></textarea>
        </div>
      </div>
  </div>

  <div class="control">
    <button class="button is-dark">Cancel</button> &nbsp;&nbsp;
    <button class="button is-success">Save</button>
  </div>
</div>
</div>
