<div ng-include="'templates/casemgr/menu.html'"></div>

<div class="columns">
  <div class="column is-5">

    <form name="Create">
      <div class="field">
        <label class="label">File Number</label>
        <div class="control">
          <input class="input" type="text" placeholder="" ng-model="vm.acquisitionsData.file_id" required >
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">File Start Date</label>
          <div class="control">
            <input class="input" type="date" placeholder="mm/dd/yyyy" ng-model="vm.acquisitionsData.start_date" required>
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">File End Date </label>
          <div class="control">
            <input class="input" type="date" placeholder="mm/dd/yyyy" ng-model="vm.acquisitionsData.end_date" required>
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">File Title </label>
          <div class="control">
            <input class="input" type="text" placeholder="" ng-model="vm.acquisitionsData.title" required>
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">Property </label>
          <div class="control">
            <input class="input" type="text" placeholder="" ng-model="vm.propertiesData.description" required>
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">Owner's First Name </label>
          <div class="control">
            <input class="input" type="text" placeholder="" ng-model="vm.ownersData.first_name" required >
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">Owner's Last Name </label>
          <div class="control">
            <input class="input" type="text" placeholder="" ng-model="vm.ownersData.last_name" required>
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">Volume Number </label>
          <div class="control">
            <input class="input" type="text" placeholder="" ng-model="vm.propertiesData.volume" required >
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">Folio Number</label>
          <div class="control">
            <input class="input" type="text" placeholder="" ng-model="vm.propertiesData.folio" required>
        </div>
        </div>

        <br>
        <div class="field">
            <label class="label">Liber New Series </label>
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="file status" ng-model="vm.acquisitionData.is_liber" required>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="file status" ng-model="vm.acquisitionData.is_liber" required>
                No
              </label>

        <br>
        <br>
        <div class="field">
          <label class="label">Parish</label>
            <div class="control">
              <div class="select" ng-model="vm.parishData.title" required >
                <select >
                  <option>-Select a Parish-</option>
                  <option>Clarendon</option>
                  <option>Hanover</option>
                  <option>Kingston & St. Andrew</option>
                  <option>Manchester</option>
                  <option>Portland</option>
                  <option>St. Andrew</option>
                  <option>St. Ann</option>
                  <option>St. Catherine</option>
                  <option>St. Elizabeth</option>
                  <option>St. James</option>
                  <option>St. Mary</option>
                  <option>St. Thomas</option>
                  <option>Trelawny</option>
                  <option>Westmoreland</option>
                </select>
              </div>
            </div>
          </div>

<br>
          <div class="field">
            <label class="label">Amount</label>
            <div class="control">
              <input class="input" type="text" placeholder="" ng-model="vm.receiptData.amount" required>
          </div>
          </div>

          <br>

          <div class="field">
              <label class="label">Currency </label>
            <div class="field">
              <div class="control">
                <label class="radio" >
                  <input type="radio" name="currency" ng-model="vm.receiptData.currency" required>
                  JMD
                </label>
                <label class="radio">
                  <input type="radio" name="currency" ng-model="vm.receiptData.currency" required>
                  GBP
                </label>
                <label class="radio">
                  <input type="radio" name="currency" ng-model="vm.receiptData.currency" required>
                  None Seen
                </label>
              </div>
          </div>
        </div>



  <br>
        <div class="field">
            <label class="label">File Status </label>
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="file status" ng-model="vm.acquisitionsData.status" required>
                Active
              </label>
              <label class="radio">
                <input type="radio" name="file status" ng-model="vm.acquisitionsData.status" required>
                Inactive
              </label>
              <label class="radio">
                <input type="radio" name="file status" ng-model="vm.acquisitionsData.status" required>
                Closed
              </label>
            </div>
          </div>
        </div>

        <br>

        <div class="field">
          <label class="label">Location </label>
          <div class="control">
            <input class="input" type="text" placeholder="" ng-model="vm.propertiesData.location" required>
        </div>
        </div>

        <br>
        <div class="field">
          <label class="label">Remarks</label>
          <div class="control">
            <textarea class="textarea" ng-model="vm.acquisitionsData.remarks" required></textarea>
          </div>
        </div>

        <div class="control">
          <button class="button is-dark" type="reset"  ng-click="">Cancel</button> &nbsp;&nbsp;
          <button class="button is-success" ng-disabled="create.$pristine|| create.$invalid"">Save</button>
        </div>

</form>
</div>
</div>
