<div ng-include="'templates/casemgr/menu.html'"></div>
<div class="columns">
  <input type="text" class="column ng-pristine ng-untouched ng-valid ng-empty" placeholder="Type here to filter mail by sender or subject" ng-model="search">
</div>

<div>
  <div ng-show="vm.acquisitions.length < 1">
    <p><strong>Detail report is currently unavailable.</strong></p>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>File Title</th>
        <th>Location</th>
        <th>Property Owner</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="acquisition in vm.acquisitions" ng-click="vm.show(acquisition.id)">
        <td>{{acquisition.title}}</td>
        <td>{{acquisition.location}}</td>
        <td>{{acquisition.first_name +" "+ acquisition.last_name}}</td>
        <td>{{acquisition.amount !== null ? acquisition.amount : 0}}</td>
      </tr>
    </tbody>
  </table>
</div>