<nav class="navbar ">
  <div id="navMenuExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item " href="#">Dashboard</a>
      <a class="navbar-item" href="#">Acquisitions</a>
      <a class="navbar-item" href="#">Create Acquisition</a>  
      <a class="navbar-item" href="#">Search</a>          
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="#">Logged in as&nbsp;<b> Tremaine Buchanan </b></a>
      <a class="navbar-item" href="#">Logout</a>
    </div>  
  </div>
</nav>