<nav class="navbar">
  <div id="navMenuExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#"><div class="fa fa-home"></div>&nbsp;Dashboard</a>
      <a class="navbar-item" href="#!/dashboard/apps/casemgr/acquisition"><div class="fa fa-file-text-o"></div>&nbsp;Detail Acquisitions</a>
      <a class="navbar-item" href="#!/dashboard/apps/casemgr/acquisition/create">Create Acquisition</a>  
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="#">Logged in as&nbsp; <b>Tremaine Buchanan</b></a>
      <a class="navbar-item" href="#"><div class="fa fa-power-off"></div>&nbsp;Logout</a>
    </div>  
  </div>
</nav>

<hr class="custom-hr"/>