.table>tbody>tr:hover, .is-active{
	background-color: #2780E3;
	color: #FFFFFF;
}

a:hover{
	color: #2C3E50;
	text-decoration: none;
}

.table>tbody>tr>td{
	cursor: pointer;
}

.custom-hr{
	border-top: 2px solid #2780E3;
}
